html, body, #root {
  height: 100%;
  box-sizing: border-box;
}

html * {
  box-sizing: inherit;
}

body {
  margin:0;
  /* font-family: 'Libre Baskerville', serif    font-family: 'Libre Baskerville', serif;

  font-family: 'Poppins', sans-serif;

  font-family: 'Readex Pro', sans-serif; */

  font-family: 'Roboto Slab', serif;
  background-color: #F6FBF4;
}